html, body { max-width: 100vw; overflow-x: hidden; }


html{
    scroll-behavior: smooth;
}

/* main color */
.gradient {
    background-color: rgb(0, 120, 116) ;
}

.gradient2{
    background: linear-gradient(
        90deg,#007874,#01AAA5);
}

.smart__fontcolor{
    
  color:   #007874;
}

.fondo__seccion{
    background-color: #f6f6f6;
}

.espaciado__top{
    margin-top: 45vh;
}

.flechas__glide{
    width: 100%;
    height:432px;
    position: absolute;
}
.top-1\/2{
    top: 50%;
}
.max-w-min{
    max-width: min-content;
}
.especial__tecnico{
    
    margin-top: 38px;
}
.rounded__special{
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
}



.title__seguridad{
    font-size: 4rem;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
    
  }

body {
    font-family: "Josefin Sans";
}

/* waves */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;  
    top: 0;
    margin: auto;
}

.-bottom-28{
    bottom:100px;
}

.bottom-0{
    bottom: 0;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    /* height: 55%; */
    height: 100%;
    bottom: -1px;
    background-color:  rgb(0, 120, 116);  
}

/* .waveWrapper::after{      FONDO CON OVERLAY DE PRIMERA SECCION
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url('../images/fondo.landing.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.bgTop {
    z-index: 9;
    opacity: 0.2;
}

.scale-0{
    transform: scaleX(0);
    transform: scaleY(0);
}

.scale-100{
    transform: scaleX(1);
    transform: scaleY(1);
}
.top-3\/4{
    top:85%;
}
.transition-transform{
    transition-property: transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms;
}

.bgMiddle {
    z-index: 8;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}



@media only screen and (max-width: 415px) {
    /* place here CSS for when the screen is less than 375px wide */
    .especial__maxwidth{
        max-width: 177px;
    }

  }

  @media only screen and (max-width: 375px) {
    /* place here CSS for when the screen is less than 375px wide */
    .especial__maxwidth{
        max-width: 150px;
    }

  }

  @media only screen and (min-width: 1023px) {
    
    .especial__maxwidth{
        max-width: 376px;
    }

  }

